Repository ajmastra/cs-386-event-pulse, pull requests merged in 2024-11, with the labels that each got.

#164 Updating d5-design.md Part 2: Issue #157
  project_documentation/d5-design.md
Labels: Design

#167 'updating ben d5 solves #161'
  project_documentation/d5-design.md
Labels: documentation

#188 'fixing ben d5'
  project_documentation/d5-design.md
Labels: documentation

#190 D5 class diagram update
  project_documentation/D5_media/project_class_diagram.png
Labels: documentation

#191 fixed d5 part 5
  project_documentation/D5_media/d5-5-facade-uml.png
  project_documentation/D5_media/d5-5-observer-uml.png
  project_documentation/d5-design.md
Labels: documentation

#200 D6 Intro Added
  project_documentation/d6-implementation2.md
Labels: documentation

#212 Questionaire rework, follows actual user interests
  website/templates/questionnaire.html
  website/views.py
Labels: enhancement

#215 Added ability to save events via interested button
  website/models.py
  website/templates/base.html
  website/templates/event_details.html
  website/templates/saved_events.html
  website/views.py
Labels: enhancement

#220 Added my screenshot and updated d6
  project_documentation/D6_media/d6-2-interest-button-1.png
  project_documentation/D6_media/d6-2-interest-button-2.png
  project_documentation/D6_media/d6-2-interest-button-3.png
  project_documentation/D6_media/d6-2-interests-rework-1.png
  project_documentation/D6_media/d6-2-interests-rework-2.png
  project_documentation/d6-implementation2.md
Labels: documentation
