Repository ajmastra/cs-386-event-pulse, pull requests merged in 2024-10, with the labels that each got.

#66 Created analysis.md & Added System Desc
  project_documentation/analysis.md
Labels: documentation

#111 Adding the profile page, and search page fixes #103 #107 #110
  website/templates/base.html
  website/templates/edit_profile.html
  website/templates/event_details.html
  website/templates/home.html
  website/templates/profile.html
  website/templates/search.html
  website/views.py
Labels: enhancement

#134 Finished root .md files, D4 part 2
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  LICENSE.md
  README.md
  project_documentation/D4_media/contactEventCoord.png
  project_documentation/D4_media/eventDesc.png
  project_documentation/D4_media/eventInfo.png
  project_documentation/D4_media/eventList.png
  project_documentation/D4_media/eventTags.png
  project_documentation/D4_media/eventTime.png
  project_documentation/D4_media/eventTitle.png
  project_documentation/D4_media/profileInfo.png
  project_documentation/D4_media/questionnaireInfo.png
  project_documentation/implementation1.md
Labels: documentation

#148 implementation1.md and highlight functionality
  project_documentation/D4_media/interests.png
  project_documentation/implementation1.md
  website/templates/add_event.html
  website/templates/event_details.html
  website/templates/home.html
Labels: documentation, Design, models update

#155 adding d5-design.md
  project_documentation/d5-design.md
Labels: documentation
